<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="5">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GBEvents</title>
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-green.css">
</head>
<body>
<div class="w3-card-4">
<div class="w3-container w3-theme w3-card-2">
<h1>GBEvents</h1>
</div>
No events
</div>
</body>
</html>